node_modules
.pnpm-store

.env
.env.*
!.env.example

.next
dist
coverage
*.tsbuildinfo

apps/web/public/sw.js
apps/web/public/workbox-*.js
apps/web/public/fallback-*.js
apps/web/public/worker-*.js
apps/web/public/swe-worker-*.js

.DS_Store
