{
  "arrowParens": "avoid",
  "endOfLine": "auto",
  "printWidth": 100,
  "semi": true,
  "singleQuote": false,
  "jsxSingleQuote": false,
  "tabWidth": 2,
  "trailingComma": "all",
  "useTabs": false,
  "bracketSameLine": true,
  "bracketSpacing": true,
  "quoteProps": "as-needed",
  "singleAttributePerLine": false,
  "htmlWhitespaceSensitivity": "css",
  "vueIndentScriptAndStyle": false,
  "proseWrap": "preserve",
  "plugins": ["prettier-plugin-tailwindcss"]
}
